:root {
  --primary-100: #C12116; 
  --primary-50: #c1211632; 
  --neutral: #D5D7DA; 
  --danger: #9b1d14; 
  --accent-red: #D9206E; 
  --accent-green: #079455;
  --accent-yellow: #FDB022;
  --backgroud-primary: #F5F5F5;
}


.text-primary {
  color: var(--primary-100);
}

.text-danger {
  color: var(--danger);
}

.text-success {
  color: var(--accent-green);
}

.bg-primary {
  background-color: var(--primary-100);
}

.bg-primary-outline {
  background-color: var(--primary-50);
}

.bg-neutral {
  background-color: var(--neutral);
}

body{
  background: var(--backgroud-primary);
}

.inset-bg{
  background: var(--backgroud-primary);
}

/* sidebar */
@layer base {
  :root {
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
}