:root {
  --primary-100: #C12116; 
  --danger: #9b1d14; 
  --accent-red: #D9206E; 
  --accent-green: #079455;
  --accent-yellow: #FDB022;
}


.text-primary {
  color: var(--primary-100);
}

.text-danger {
  color: var(--danger);
}

.text-success {
  color: var(--accent-green);
}

.bg-primary {
  background-color: var(--primary-100);
}